container_commands:
  01_migrate_admin:
    command: "django-admin.py migrate admin"
    leader_only: true
  02_migrate_auth:
    command: "django-admin.py migrate auth"
    leader_only: true
  03_migrate_contenttypes:
    command: "django-admin.py migrate contenttypes"
    leader_only: true
  04_migrate_organizations:
    command: "django-admin.py migrate organizations"
    leader_only: true
  05_migrate_registration:
    command: "django-admin.py migrate registration"
    leader_only: true
  06_migrate_sessions:
    command: "django-admin.py migrate sessions"
    leader_only: true
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: apiary.settings
