{% extends 'base.html' %}

{% block body %}
  {% include 'nav.html' %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3>Welcome!</h3>
        <p>This is a managment server that exposes metadata about sensor
        networks as RESTful resources. We use this metadata to sort sensor
        observations, allowing them to be queried in a meaningful way on
        <a href="http://plenar.io">plenario</a>. Administration privileges
        are currently given out on a case by case basis, but if you'd like to
        register your sensor network with us don't hesitate to contact me at
        jbracho@uchicago.edu! Once I've set you up with an admin account,
        you can follow the documentation <a href="http://docs.plenar.io/#providers">
        here</a> to get your data to show up on plenario.</p>
      </div>
    </div>
  </div>
{% endblock %}
