{% extends 'base.html' %}

{% block body %}
  {% include 'nav.html' %}

  <style media="screen">
    .indent {
      padding-left: 3em;
    }
  </style>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="#">Welcome!</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Logging In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Getting Started</a>
          </li>
          <li class="nav-item indent">
            <a class="nav-link" href="#">Creating a network</a>
          </li>
          <li class="nav-item indent">
            <a class="nav-link" href="#">Creating a feature</a>
          </li>
          <li class="nav-item indent">
            <a class="nav-link" href="#">Creating a sensor</a>
          </li>
          <li class="nav-item indent">
            <a class="nav-link" href="#">Creating a node</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Using Curl</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Glossary</a>
          </li>
          <li class="nav-item indent">
            <a class="nav-link" href="#">Networks</a>
          </li>
          <li class="nav-item indent">
            <a class="nav-link" href="#">Nodes</a>
          </li>
          <li class="nav-item indent">
            <a class="nav-link" href="#">Sensors</a>
          </li>
          <li class="nav-item indent">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pipeline</a>
          </li>
        </ul>
      </div>
      <div class="col-md-8">
        Docs
      </div>
    </div>
  </div>
{% endblock %}
