{% extends 'base.html' %}

{% block body %}
  {% include 'nav.html' %}

  <style media="screen">
    .indent {
      padding-left: 3em;
    }
  </style>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3>Welcome!</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ut mauris vitae mauris pharetra commodo a nec justo. Proin placerat est a laoreet dignissim. Suspendisse vehicula, dui a porta mollis, nisi sapien blandit nulla, ac lobortis augue metus in sem. Maecenas ligula turpis, commodo et purus a, auctor vehicula mi. Phasellus in risus nunc. Praesent id erat augue. Donec at congue justo.</p>
      </div>
    </div>
  </div>
{% endblock %}
