<div class="navbar navbar-static-top {% block bootstrap_navbar_variant %}navbar-inverse{% endblock %}">
    <div class="container">
        <span>
        </span>
        <ul class="nav navbar-nav pull-left">
            <li><a href="/"><strong>APIARY</strong></a></li>
        </ul>
        <ul class="nav navbar-nav pull-right">
            <li><a href="/api"><strong>API</strong></a></li>
            <li><a href="https://github.com/UrbanCCD-UChicago/apiary"><strong>CODE</strong></a></li>
            <li><a href="/admin/login"><strong>LOGIN</strong></a></li>
        </ul>
    </div>
</div>
