{% extends 'base.html' %}
{% load static %}

{% block title %}
  Register
{% endblock %}

{% block style %}
  <link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock %}

{% block content %}
<head>
  {{ form.media }}
</head>
<div class="container node-form">
  <div class="row">
    <form action="/api/nodes/" method="post" class="form">
      {% for field in form %}
        <div class="form-group">
          <label for="{{ field.id_for_label }}">{{ field.label }}</label>
          {{ field }}
        </div>
      {% endfor %}
      <button type="submit" class="btn btn-primary">Submit</button>
      {% csrf_token %}
    </form>
  </div>
</div>
{% endblock %}
